* {
    box-sizing: border-box;
    margin: 0;
}

header{
    text-align: center;
    background-color: #04409b;
    height: 5rem;
    color: white;
    padding:0.63rem;
    font-family:Helvetica;
    font-size: 1.56rem;  
}

form {
    height:50px;
    align-items: center;
    padding:0.63rem;
    color:#5680E9;
}

label {
    font-weight: bold;
    color: black;
    font-size: 1.25rem;
}
#submit {
    background-color: #418cfc;
    color: white; 
    border: none;
    padding:3px 19px;
    font-weight: bold;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    height: 32px;
}

#inputCountry{
    border:solid #418cfc;
    width:180px;
    height: 30px; 
}

h3 {
    text-align: center;
    height: 3.13rem;
    color: #04409b;
    padding:0.63rem;
    font-size:1.75rem;
}

body {
min-height: 100vh;
font-family: Helvetica;
display: flex;
flex-direction: column;
}

main {
display:flex;
justify-content: center;
flex-grow: 1;
}

#main-box {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content:center;
align-items:center;
height:40rem;
width:80rem;
color: #999999;
font-family:Helvetica;
gap:3.13rem 6.25rem;
margin-top:5em;
}

div {
    display:flex;
    flex-direction:column;
}

.items {
    border: solid grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    width: 18.75rem;
    height: 16.5rem;
    box-shadow: 5px 3px 5px grey;
    overflow: scroll;
}

#vaccinationContent {
    display: flex;
    flex-direction: column;
    text-align:left;
    overflow: scroll;
}

p {
    margin: 0;
}

.header {
    font-weight: bold;
    font-family: Helvetica;
    margin-bottom:18px;
    color: black;
    background-color: #F2F2F2;
    height:30px;
    text-align: center;
    padding-top: 0.5em;
}

footer {
    border: solid black;
    text-align:center;
    color: white;
    background-color: #04409b;
    font-family: helvetica;
}
  
@media (max-width: 764px) {

    header{
        height: 3rem;
        font-size: 1rem;  
    }

     h3 {
        margin-top:1rem;
     }

    #main-box {
        margin-top:1rem;
        height:32rem;
        gap:0rem;
    }
    .items{
        width:18rem;
        height:5rem;
    }
    
}
